@model PROYECTOMVC.Models.Habitaciones

@{
    ViewBag.Title = "Detalles de la Habitación";
}

<div class="container mt-4">
    <h2 class="text-primary">Detalles de la Habitación</h2>

    <div class="shadow-sm p-4">
        <h4>Información de la Habitación</h4>
        <hr />

        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Numero_Habitacion)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Numero_Habitacion)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.tipo)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.tipo)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Precio)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Estatus)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Estatus)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
        </dl>
    </div>

    <div class="mt-3">
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.ID_Habitacion }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Volver a la Lista", "Index", null, new { @class = "btn btn-secondary" })
        </p>
    </div>
</div>
