@model PROYECTOMVC.Models.Reservas

@{
    ViewBag.Title = "Editar Reserva";
}

<h2 class="text-center">Editar Reserva</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container mt-4">
        <div class="card shadow">
            <div class="card-body">
                <h4 class="card-title">Detalles de la Reserva</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                @Html.HiddenFor(model => model.ID_reserva)

                <div class="mb-3">
                    @Html.LabelFor(model => model.Cliente_ID, "Cliente", htmlAttributes: new { @class = "form-label" })
                    @Html.DropDownList("Cliente_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Cliente_ID, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.Habitacion_ID, "Habitación", htmlAttributes: new { @class = "form-label" })
                    @Html.DropDownList("Habitacion_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Habitacion_ID, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.CheckIN, "Fecha de Check-IN", htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.CheckIN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CheckIN, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.CheckOUT, "Fecha de Check-OUT", htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.CheckOUT, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CheckOUT, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.Estatus, "Estatus", htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.Estatus, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Estatus, "", new { @class = "text-danger" })
                </div>

                <div class="d-flex justify-content-between">
                    <a href="@Url.Action("Index")" class="btn btn-secondary">Volver a la Lista</a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
